.carousel {
    .glide__slides {
        height : 225px;

        .slide {
            height          : 100%;
            display         : flex;
            justify-content : center;
            align-items     : center;

            img {
                max-width : 170px;
                margin    : 0 auto;
                display   : block;
            }
        }
    }

    .glide__arrows {
        position        : absolute;
        transform       : translate(0, -30%);
        top             : 50%;
        display         : flex;
        width           : 100%;
        justify-content : space-between;

        .glide__arrow {
            background : none;
            border     : none;
            font-size  : 1.2em;
            color      : white;
        }
    }
}