.panel {
    padding  : 25px;
    margin   : 15px 0px;
    position : relative;

    p {
        color : white;
    }

    .panel-canvas {
        position : absolute;
        left     : 0px;
        top      : 0px;
        z-index  : -1;
    }
}