.panel {
    padding  : 25px;
    position : relative;

    p {
        color : white;
    }

    .panel-canvas {
        position : absolute;
        left     : 0px;
        top      : 0px;
        z-index  : -1;
        filter   : drop-shadow(0px 4px 7px rgba(0, 0, 0, 1));
    }
}